#ignore build directory
/build

#ignore vscode directory
/.vscode

#ignore Results directory
/Temp_Results

#ignore Testing Data directory
/Temp_Test_Data

#ignore comparision directory
/Cmp_Test_Data